.root {
  padding: var(--space-8) var(--space-4);
  background-color: var(--gray-a2);
  min-height: 100dvh;
}

.content {
  width: 100%;
  max-width: 600px;
}

.receipt {
  width: 100%;
  max-width: 350px;
  min-height: 300px;
  border-radius: 6px;
  background: var(--accent-3);
  padding: 20px;
  border-top: 5px solid var(--accent-10);
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    95% 100%,
    90% calc(100% - 10px),
    85% 100%,
    80% calc(100% - 10px),
    75% 100%,
    70% calc(100% - 10px),
    65% 100%,
    60% calc(100% - 10px),
    55% 100%,
    50% calc(100% - 10px),
    45% 100%,
    40% calc(100% - 10px),
    35% 100%,
    30% calc(100% - 10px),
    25% 100%,
    20% calc(100% - 10px),
    15% 100%,
    10% calc(100% - 10px),
    5% 100%,
    0 calc(100% - 10px)
  );
}
